jwt:
  token-exp: 3600
  secret-key: ssdfsjkdfhwiuefhvhebwvhebrfewhiobfewrbferiubcewribet
http:
  port: 3000
  host: localhost
  timeout-on-stop: 5
db:
  name: name
  password: pass
  ssl-mode: false
  username: uname